@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary: rgb(200, 206, 235);
  --gray: #ccc;
  --dark-gray: #999;
  --light-gray: #eee;
  --font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-family: var(--font-family);
}

body {
  padding: 20px;
  height: 100vh;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  background-color: var(--primary);
  border: 1px solid var(--dark-gray);
  padding: 4px 12px;
  transition: 250ms;
}

button:hover {
  background-color: var(--light-gray);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  margin: 20px 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section {
  flex: 1 1 380px;
  padding: 10px 30px;
}

#score-list {
  border: 2px solid var(--dark-gray);
  list-style: none;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 200px);
  scrollbar-color: var(--primary) var(--gray);
  scrollbar-width: thin;
}

#score-list::-webkit-scrollbar {
  width: 8px;
  background: var(--gray);
  -webkit-border-radius: 1ex;
}

#score-list::-webkit-scrollbar-thumb {
  background: var(--primary);
  -webkit-border-radius: 1ex;
}

#score-list:empty {
  display: none;
}

#score-list li {
  padding: 10px;
}

#score-list li.slide-in {
  animation: slide-in 250ms;
}

#score-list li:nth-child(even) {
  background-color: rgba(200, 206, 235, 0.4);
}

#add-score-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 12px;
}

#add-score-form input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid var(--dark-gray);
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
